/* CARD */
.product-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s ease;
  border: 1px solid #eee;
}

.product-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

/* IMAGE */
.product-image {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #f5f5f5;
  overflow: hidden;
}

.product-image .img {
  object-fit: cover;
  transition: 0.4s;
}

.product-card:hover .img {
  transform: scale(1.05);
}

.product-card:hover .heart-btn {
  opacity: 1;
}

/* COLOR DOTS */
.color-dots {
  position: absolute;
  bottom: 14px;
  left: 14px;
  display: flex;
  gap: 6px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.dot-1 {
  background: #f5e6c8;
}
.dot-2 {
  background: #bdbdbd;
}
.dot-3 {
  background: #333;
}

/* INFO */
.product-info {
  padding: 20px;
}

.product-name {
  font-size: 16px;
  color: #555;
  font-family: var(--font-ysabeau), sans-serif;
  margin-bottom: 6px;
}

.product-price {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

