/* GRID CONTAINER */
.product {
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px 16px;
}
.text-product {
  display: flex;
  justify-content: end;
  font-family: "Ysabeau SC";
  margin-bottom: 20px;
}
.text-product h3 {
  font-size: 41px;
}

/* GRID */
.product-graipd {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

/* RESPONSIVE ADAPTATION */
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .product-graipd {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
